@import url("framework.css");

body {
    background-color: #fbfbfb;
    color: #333;
    display: flex;
    flex-direction: column;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}


#news-heat-title{
    margin-bottom: 3px;
}
#navbar {
    background-color: #fafafa;
    padding-left:0 !important;
}
.top-1{
    margin-top: 1em;
}
.top-2{
    margin-top: 2em !important;
}
.overhead{
    position: relative;
    top: -8em;
}
.center{
    margin: 0 auto;
}
.graph-wrapper{
background-color: white;
padding: 1em;
padding-bottom : 6em;
}

.graph{
width: 85%;
}

.effect-shadow{
   box-shadow: 0 2px 3px rgba(10,10,10,.1),0 1px rgba(10,10,10,.1);
}
#multiple-line{
    height: 350px;
    padding-top: 3em;
    margin-bottom: 2em;
    background-color: white;
}
.custom-box{
    background-color: #fff;
    border-top: 0;
    color: #4a4a4a;
    display: block;
}

.custom-box[data-active="true"] img.img_grayscale {
  display:none;
}

.custom-box[data-active="true"] img.img_color {
  display:block;
}

.custom-box[data-active="false"] img.img_color {
  display:none;
}

.custom-box[data-active="false"] img.img_grayscale {
  display:block;
}


figure{
    width: 8em;
    height: auto;
}

figure img{
    width: 100%;
    height: auto;
}
.color-top{
    border-top: 4px solid;
}
.custom-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
}
.triangle-wrapper{
    height: 26px;
}
.triangle{
    width: 0;
    height: 0;
    border-right: 9px solid transparent;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9px solid;
    position: relative;
}
.effect-translate:hover{
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    cursor: pointer;
}
.news{
    position: relative;
    top: -10em;
    border-top: 4px solid gainsboro;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em;
}
.hide{
    display: none;
}
.title-news{
    border-bottom: 1px solid gainsboro;
    margin: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.date-column{
    -webkit-box-flex: .2;
        -ms-flex-positive: .2;
            flex-grow: .2;
}
.left-3{
    margin-left: 3px;
}
.image-column{
    -webkit-box-flex: .5;
        -ms-flex-positive: .5;
            flex-grow: .5;
    max-height: 8em;
    max-width: 8em
}
.new-image{
    border-radius: 6px;
}
.new{
    max-height: 10em;
}
.total{
    width: 100%
}
.right-15{
    margin-right: 15%;
}

.date-range{
    text-align: center;
    width: 250px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
.new-title{
    color: #363636;
    font-weight: bold;
}
.new-title:hover{
    color: black;
    text-decoration: underline;
}
.repercussion{
    -webkit-box-flex: .15;
        -ms-flex-positive: .15;
            flex-grow: .15;
}
.news-wrapper{
    margin: 1em;
}


.icon_newspaper{
    max-width: 20px;
}
.center-flex{
    display: flex;
    align-items: center;
}
.justify-center{
    justify-content: center;
    height: 100%;
}
.superior-box{
    display:flex;
    flew-grow: 1;
}
#sup-1{
    padding-right: 0 !important;
}
#sup-2{
    padding-left: 0 !important;
}

.no-wrap{
    white-space: nowrap;
}
.relative-5{
    position: relative;
    left: -5em;
}

#arrow-left{
    max-width: 2em;
    opacity: .6;
}

.rep-label{
    margin: 1em;
    display: none;
}
.img-rep{
    margin: 0.2em;
}

.order-1{
    order: 1;
}
.order-2{
    order: 2;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
}
.order-3{
    order: 3;
}
.click{
    align-items: center;
}

.click-effect{
    display: flex;
    justify-content: space-around;
}
.order-2-effect{
    margin-left: 1em;
}
.order-1-effect{
    margin-left: 1em;
    margin-right: 0;
}

.custom-select{
    border-color:  white!important;
}
#btn-export-csv{
    border-radius: 15px;
    margin-left: 2em;
    padding: .3em 1em;
    opacity: .7;
}
.btn-item:hover{
    opacity: 1;
    background-color: #f1f1f1;
}
.middle-vertical{
    vertical-align: middle;
}
#repercussion-title{
    justify-content: flex-end;
}
.data-new-column{
    flex-grow: 2;
}
.image-new-column{
    flex-grow: 0.2;
}
.image-new-column img{
    max-height: 8em;
    max-width: 9em;
    border-radius: 6px;
}
#info_reactions{

}
#info_reactions svg{
    opacity: .5;
}
#info_reactions:hover{
    cursor: cell;
}
.new-item{
}


.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.custom-modal .lds-roller div:after{
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}
#loader .lds-roller div:after{
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #8F8F8F;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.overlay{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:1001;
     opacity:.4;
     -moz-opacity: 0.4;
     filter: alpha(opacity=4);
     display: none;
}

.custom-modal {
     position: relative;
     z-index:1002;
     width: 40px;
     margin: 0 auto;
     top: 200px;
}
#loader{
    width: 65px;
    margin: 0 auto;
    display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  display: none;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1471px) {
    .superior-box{
        flex-direction: column;
    }
    .relative-5{
        position: static;
    }
    #repercussion-title{
        display: none;
    }
    .rep-label{
        display: block;
    }
}

@media screen and (min-width: 621px) and (max-width: 769px) {
    #sup-1{
        display: flex;
    }
    #sup-2{
        display: flex;
    }
}


@media screen and (max-width: 1088px) {
    header{
        padding: 1rem 2rem;
    }
}


@media screen and (max-width: 770px){
    .total{
        display: flex;
    }
    .repercussion{
        padding-top: 0;
    }
    .repercussion div{
        justify-content: left;
    }
    .date-column{
        padding-bottom: 0;
    }
    .new{
        padding-top: 1.5em;
    }
    .news-wrapper{
        margin-top: 0;
    }
    .no-padding-top{
        padding-top:0;
    }
    .no-wrap{
        white-space: pre-line;
    }
    #link-logo{
        display: none;
    }
    #only-logo{
        display: inline;
    }

    #rangos{
        width: 1px;
        height: 1px;
        padding: 0;
        padding-top: 20px;
        opacity: 0.1;
    }
    #calendar-logo{
        display: inline-block;

        margin: 5px 0px 0 0px;

        vertical-align: bottom;

        cursor: pointer
    }
    .date-column{
        flex: 1 0 100%;
        margin-bottom: .5em!important;
    }
    #info_reactions{
        flex: 1 0 100%;
    }
    .rep-label{
        margin-left: 0;
    }
    .new-item{
        display: inline-flex;
    }
    .image-new-column img{
        max-width: 6em;
        margin-top:1.3em;
    }
}

@media screen and (max-width: 620px){

    .click{
        display: flex;
        justify-content: space-around;
    }
    .order-2{
        margin-left: 1em;
    }
    .order-1{
        margin-left: 1em;
        margin-right: 0;
    }
    .no-wrap{
        white-space: normal;
    }
}



header{
    padding: 1rem 0.5rem;
}

.logo {
    height: 25px;
}

#news-heat-title {
  font-size:0.9em;
}

#btn-header {
  height:32px;
}

    .btn-item{
         border: 1px solid gainsboro;
         color: black;
         padding-top: 0;
         padding-bottom: 0;
         padding: .5em;
         background-color: #f3f3f3;
         cursor:pointer;
    }

    #btn-header .btn-item svg{
        vertical-align: middle;
        width:15px
    }

    #btn-header .btn-left svg{
        margin-left: 12px;
    }

    #btn-header .btn-right svg{
        margin-right: 12px;
    }

    #btn-header .btn-item{
        padding: 0 10px;
    }

    #btn-header .btn-left{
        border-radius: 50% 0 0 50%;
        padding: 0 8px 0 0px;
    }

    #btn-header .btn-right{
        border-radius: 0 50% 50% 0;
        padding: 0 0px 0 8px;
        border-left:none;
    }

    .btn-item .cls-1 {
      fill: #cecece;
      fill-rule: evenodd;
      stroke: #929292;
      stroke-width: 0.6;
      stroke-opacity: 0.4;
    }

    .btn-item .st1{
      fill:none;
      stroke:#929292;
      stroke-width:1.6;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }

    .btn-item.active {
      background : #FFFFFF;
      cursor: normal;
    }

    .btn-item.active .cls-1 {
      fill: #484848;
      stroke: none
    }
    .btn-item.active .st1 {
      stroke:#484848;
    }



@media screen and (min-width: 400px){
    header{
        padding: 1rem 2rem;
        font-size: 1px
    }

    #news-heat-title {
      font-size:1.25rem;
    }

    #btn-header {
      height:36px;
    }

    .new-item {
      margin-bottom: 8em!important;
    }
}
.has-background-blue {
    background-color: #1976d2;
}
section.publications {
  flex:1;
}

.home-columns {
  margin: 0;
  height: calc(100vh - 140px);
}

.is-home-left-column {
    color: #fbfbfb;
    overflow-y: hidden;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.is-home-right-column {
  color: #fbfbfb;
      padding: 0 1rem 0 1rem;
      overflow-y: scroll;
      margin: 0 -20px 0 0;
      position: absolute;
      top: 0;
      right: 0;
      left: 44.5%;
      bottom: 0;
}

.sy-box {
  height: 100%;
}
#news_highlight .sy-slide{
  height:100%;
}

#news_highlight .sy-slide img {
  object-fit: cover;
  width: 150%;
  height: 150%;
}
.news-slider-main {
  height: 100%;
  background: #ff9900;
}

.news-slider-main .slick-track,
.news-slider-main .slick-list ,
.news-slider-main .slick-slide,
.news-slider-main .new_cover {
  height: 100%;
}
.news-slider-main .column {
  padding:0;
}


.new_cover {
  position: relative;
}

.new_cover .kenburns-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.new_cover .kenburns-container img {
  transform: scale3d(1.5,1.5,1) translate3d(70px, 0, 0);
  object-fit: cover;
  height: 100%;
}

.new_cover.slick-active .kenburns-container img {

  animation: kenburns 20s infinite;
}

.new_cover .content {
  position: absolute;
  bottom: 0;
  padding:1em;

}
.news-slider .new_cover .domain_info img,
.news-slider-last .new_cover .domain_info img {
  display: inline-block;
  margin-bottom: 0;
}

.news-slider .new_cover .content,
.news-slider-last .new_cover .content {
  margin-bottom: 0;
}
.news-slider-main .new_cover .content {
  padding: 0 1.5em 2em 1.5em;
}
.new_cover .domain_info {
  font-size:0.9em;
}

.new_cover .domain_info span {
  line-height: 1.1em;

}

.new_cover .domain_info span:first-child {
  line-height: 1em;
}

.new_cover .content a{
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  text-shadow: 0 1px 4px #000;
}

.new_cover .subtitle {
  display: inline;
  font-size: 1.8em;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  line-height: 1.2em;
  font-weight: 500;
}
.sliders_container {
  width: 100%;
  overflow: hidden;
  height: 90%;
  margin-top: 7%;
}

.sliders_container .slick-slider{
  margin-left: -50px;
  height: 50%;
}

.sliders_container .slick-track,
.sliders_container .slick-list ,
.sliders_container .slick-slide,
.sliders_container .new_cover {
  height: 100%;
}

.sliders_container .column {
  padding:0 40px 40px 0;
}

.new_cover figure {
  height:100%;
  overflow: hidden;
  width:100%;
}
.new_cover .background img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes kenburns {
    /* 0% {
      opacity: 1;
    }
    50% {
      transform: scale3d(1.5,1.5,1) translate3d(-70px, 0px, 0px);
      opacity: 1;
    }
    100% {
      transform:scale3d(1.5,1.5,1) translate3d(0px, 0px, 0px);
      opacity: 1;
    } */
    0% {
        transform: scale3d(1.5,1.5,1) translate3d(0px, 0px, 0px);
        /* animation-timing-function: ease-in; */
    }
    50% {
        transform: scale3d(1.5,1.5,1) translate3d(-70px, 0px, 0px);
        /* animation-timing-function: ease-out; */
    }
    100% {
        transform: scale3d(1.5,1.5,1) translate3d(0px, 0px, 0px);
    }
}

.news-slider-main .slick-dots{
  position: absolute;
  bottom:10px;
}

.news-slider-main .slick-dots li {
  display: inline-block;
  width: 64px;
  margin: 0 0 0 8px;
  line-height: 0;
  font-size: 0;
  height: 2px;

  background-size: 200% 100%;
  background-image: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%);
  background-position: -64px 0px;

  transition-timing-function: ease-in;
  -webkit-transition: background-position 4s;
  -moz-transition: background-position 4s;
  transition: background-position 4s;
  border:solid 1px rgba(255,255,255,0.2);
}

.news-slider-main .slick-dots li.slick-active {
  background-position: 0px 0px;
  border:solid 1px rgba(255,255,255,1);
}
